.App-layers{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 2em;
}

.lucky {
  color: #E3D353;
}

img{
  margin: 1em;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-shadow {
  box-shadow: 5px 5px 2.5px #f7f8fa;
}

