.App-layers{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 1em 3em;
}

button{
  margin: 5% 20%;
  box-shadow: 5px 5px 2.5px #f7f8fa;
}

img{
  width : 30%;
  margin: 1em;
  box-shadow: 5px 5px 2.5px #f7f8fa;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 20%;
}

.box-shadow {
  box-shadow: 5px 5px 2.5px #f7f8fa;
}