.App-layers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* *{
  outline: 1px red solid;
} */

.lucky {
  color: #e3d353;
}

.blur {
  box-shadow: 0 0 0 5px hsl(0, 0%, 80%), 0 0 0 10px hsl(0, 0%, 90%);
}

.theme-img {
  margin: 0.5em;
  border-radius: 12px;
  width: 90%;
  border: 2px solid white;
  max-width: 200px
}

@media only screen and (max-width: 600px) {
.themeWidth {
    width: 30%
  }
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-shadow {
  box-shadow: 0px 0px 4px 7px rgba(0,0,0,0.17);
}

.youtube-shelf {
  width: 50%;
  height: 30%;
}

.youdiv div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.z{
  z-index: 1000;
}

/* img shake */

.shelf:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
