.App-layers{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 2em;
}

/* *{
  outline: 1px red solid;
} */

.lucky {
  color: #E3D353;
}

.blur {
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}

.theme-img{
  margin: 0.5em;
  border-radius: 12px;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-shadow {
  box-shadow: 5px 5px 2.5px #f7f8fa;
}

.youtube-shelf{
  width: 50%;
  height: 30%;
}

/* particles js css */


