.youtube-view {
  width: 100%;
  height: 10%
}

.youtube-single {
  width: 100%;
  height: 10%
}

.Pod-layers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.pods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

